{% extends 'main_app/main.html' %}
{% load static %}

{% block jquery_menu %}
	<script src="{% static 'main_app\js\jquery-3.6.1.min.js'%}">
	</script>

	<script type="text/javascript">
		$(document).ready(function() {			
    var p = $(".element_home_1");
    var d = $(".element_home_2");
    var r = $("#resize");   
    var info = $("html") 
    var unlock = false;   
    $(document).mousemove(function(e) {
    	if (unlock) {
    		var curr_width = e.clientX
        	p.css("width", curr_width);
        	d.css("width", info.width() - curr_width)
        }
    });     
    r.mousedown(function(e) {
        curr_width = p.width();
        unlock = true;
        r.css("background-color", "rgba(0, 0, 0, 0.2)");
    });
  
    $(document).mouseup(function(e) {
        unlock = false;
        r.css("background-color", "rgba(0, 0, 0, 0.1)");
    });
});

        
	</script>
{% endblock jquery_menu %}


{% block main_nav %}

{% endblock main_nav %}


{% block content_info %}
<div class="info_menu", style = "flex-direction: row; justify-content: center; width: 100%; background-color: #6f6f6f">
	<div class = "element_home_1">
    <a style = "margin: auto;" href = "{% url 'create_guide' %}">
		<div style = "margin: auto;">
    		<img src="/media/Plus_Sign_clip_art.svg" width = 130 style="z-index: 1;">

    		<div style="color: #4f4f4f; filter: blur(0.5px);">
    			Add guide
		</div>
		</div>		
    </a>
    <div id="resize"></div>
	</div>
	<div class = "element_home_2">
	</div>
</div>
{% endblock content_info %}
