{% extends 'main_app/main.html' %}

{% block title %}
	<title>Sign in | Helpache</title>
{% endblock title %}

{% block info_menu %}
<div class = "login_content">
	<div class = "block_form">
		
		<form method="POST">
			<div class="text-center">Sign in</div>
			{% csrf_token %}
			<div class = "inblock_login">

				<div class="input-container">
					{% for f in form %}
					{% if f.label == 'email' %}
					<input type="text" name="email" maxlength="150" required="" id="id_email" placeholder="{{f.label}}">
					{% endif %}
					{% endfor %}
				</div>
				<div class="input-container">
					{% for f in form %}
					{% if f.label == 'username' %}
					<input type="text" name="username" maxlength="150" required="" id="id_username" placeholder="{{f.label}}">
					{% endif %}
					{% endfor %}	
				</div>
				<div class="input-container">
					{% for f in form %}
					{% if f.label == 'password' %}
						<input type="password" name="password" maxlength="255" required="" id="id_password" placeholder="{{f.label}}">
					{% endif %}
					{% endfor %}
				</div>
				<div class = "block_btn_submit">
					<button class="btn_submit">Button</button>
				</div>
			<div>
		</form>
	</div>
</div>
{% endblock info_menu %}