*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
body {
	background-color: white; /*#696969*/
    font-size: 22px;
}
li {
 list-style: none;
}
.navbar{
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: fixed;
	background-color: #B9213A;
	color: white;
	height: 50px;
	width: 100%;
	font-family: 'Roboto', solid;
	font-size: 30px;

}
.nav_menu{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	max-height: 30px;
	margin:auto 0 auto 0;
}
ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: 10px;
}
.nav_menu_bar{
	display: flex;
	justify-content: space-around;
	max-width: 70%;
}.nav_menu_profile{
	display: flex;
	justify-content: space-around;
}



.info_menu{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}.info_main {
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	min-height: 400px;
	background-color: #d21f3c;
}.recom_main{
	padding: auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}.recom_div_par div {
	align-content: center;
	align-self: center;
	align-items: center;
	display: flex;
	justify-content: center;
	max-width:400px;
	height:400px;
	font-family: 'Caveat Brush', cursive;
}.recom_div_par img{
	max-width:100%;
	height: auto;
}
.recom_div{
	overflow: hidden;
	overflow-wrap: break-word;
	display: flex;
	justify-content: center;
	max-width: 40%;
}.recom_div_liner{
	overflow: hidden;
	overflow-wrap: break-word;
	display: flex;
	justify-content: center;
	max-width: 30%
}.recom_div_par{
	height: 1200px;
	width: 400px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}.recom_liner{
	margin-top: -120px;
	display: flex;
	justify-content: center;
	max-width:100%;
	height: auto;
	z-index: -100;
}


.center_logo{
	display: flex;
	justify-content: center;
	flex-direction: row;
}.name_logo{
	display: flex;
	flex-direction: row;
	margin: auto 0 auto 0;
	font-family: 'Share Tech Mono', monospace;
	letter-spacing: 1vh;
	font-size: 4vw;
	max-height: 150px;
	color: white;
}.pulser_line{
	margin: auto 0 0 0;
	background-color: none;
	width: 3vw;
	height: 30px;
	border: 4px solid white;
	border-width: 0 0 4px 0;
	animation: blink 2s infinite;
}
@keyframes blink {
    0% { border-color: #d21f3c; }
    49% { border-color: #d21f3c; }
    50% { border-color: white; }
    99% { border-color: white; }
    100% { border-color: #d21f3c; }
}



.login_content{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}
.block_login{
	margin: auto 0 auto 0;
	display: flex;
	width: 400px;
	height: 500px;
	background-color: #d21f3c;
	border-radius:15px;
	box-shadow: 2px 2px 10px #d21f3c;
}


center;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}
.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
